<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Resto Catalogue</title>
</head>
<body>
    <!-- copy -->
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Daftar Restaurant Favorite
            </h1>
        </div>
        <button id="hamburgerButton" class="header__menu" aria-label="navigation-menu">☰</button>        
    </header>
    <nav id="navigationDrawer" class="nav">
        <div class="flex-container">
            <div class="flex-item-left"> 
                <ul class="nav__list">            
                    <li class="nav__item "><a href="#" >Hunger Apps</a></li>                               
                </ul>
            </div>
            <div class="flex-item-right">
                <ul class="nav__list">            
                    <li class="nav__item "><a href="index.html">Home</a></li>
                    <li class="nav__item "><a href="#/like">Favorite</a></li>
                    <li class="nav__item "><a href="https://www.instagram.com/tedymut/" target="_blank">About Us</a></li>            
                </ul>
            </div>
          </div>                       
    </nav>
    <!--<div class="hero">-->
    <div style="background-image: url('./hero-image_3.jpg');display: flex;
    align-items: center; min-height: 380px; width: 100%; text-align: center;background-position: center;
    background-color: green;">  
        <div class="hero__inner">
            <h2 class="hero__title">Restaurant Favorit Keluarga</h2>
            <p class="hero__tagline">Cari Tau dengan telunjukmu</p>
        </div>
    </div>
    <!-- end copy -->
<main id="mainContent"></main>
<footer>
    <p><a href="#">Copyright &copy; 2021 - Hunger Apps</a></p>
</footer>
</body>
</html>
